body {
  background-image: url("bgr.jpg");
}

.card {
  background-image: url("bgr.jpg");
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
 .activeCard {
  color: red;
  background: pink;
 }
 
 .cardlayout {
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
}

h1 {
  font-size: 50px;
font-family: "Lucida Console", Courier, monospace;
text-align: center;
}

